# Foundry
cache/
out/

# JS
node_modules/

#Hardhat files
cache_hardhat/
artifacts/

#Hardhat plugin files
typechain-types/

broadcast/moonpier.s.sol/
broadcast/moonpierAnvil.s.sol/
broadcast/moonpierMumbai.s.sol/
broadcast/moonpierSepolia.s.sol/

.env